<p>
{% include 'fs_renderer/multi.html' %}
<input {% if question.var_value != None %}id="{{question.var_id}}"{% endif %} type="text" name="{{question.variable}}" value="{% if question.var_value != None %}{{question.var_value}}{% endif %}" {% if question.required %}required{% endif %} />
{%  if section.errors %} 
{% for k, v in section.errors.iteritems %}
   {% ifequal k.lower question.variable %}
       {{ v }}
   {% endifequal %}
{% endfor %}
{% endif %}

</p>
<ul>
{% for result in search_results %}
<li>
<a href="/html/1/?id={{ result.id }}">{{ result.surname }}, {{ result.forenames }}</a>
</li>
{% endfor %}
