 {% if section.testing %} 
<html>
<head>

<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
</head>
<body>

 {% endif %}


<div class="section">
    <form style="height: 212px;" onscroll="moveScroll();" id="questionnaire_form" method="POST" >
        <input type="hidden" name="id" value="{{data_id}}" />
        <div class="section_title">
            {{section.title}}
        </div>
            {% for i in section.info %}
                {% if i.cssClass == 'new_line' %}<br />
                    {% else %}<div class="{{i.cssClass}}"> {{i.text | safe}}</div>    
                {% endif %}
            {% endfor %}
            {% include 'html_renderer/alt_question_groups.html' %}
            {% if section.testing %} <input class="navigation_button" type="submit" value="submit" /> {% endif %}
</form>
</div>    


 {% if section.testing %} 
<script>
$("#questionnaire_form").validate();
</script>
</body>
</html>

 {% endif %}
