{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Presentation</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "fs_renderer/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "fs_renderer/css/plugins/metisMenu/metisMenu.min.css"%}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static "fs_renderer/css/plugins/timeline.css"%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "fs_renderer/css/sb-admin-2.css"%}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "fs_renderer/css/plugins/morris.css"%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "fs_renderer/font-awesome-4.1.0/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">

    <link href="{% static "fs_renderer/css/extra-stuff.css"%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/html" id="home-template">
        <a href="#" class="list-group-item">
            <i class="fa fa-user fa-fw"></i> Volunteers  
            <span class="pull-right text-muted small"><em></em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-plus fa-fw"></i> Surgeries  
            <span class="pull-right text-muted small"><em></em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-calendar fa-fw"></i> Appointments  
            <span class="pull-right text-muted small"><em></em>
            </span>
        </a>

    </script>

    <script type="text/html" id="login-template">
        <form action="" method="post">
            <label for="id_username">Username</label>
            <input id="id_username" type="text" name="username" maxlength="30" required />
            <label for="id_password">Password</label>
            <input id="id_password" type="password" name="password" required />
            <button type="submit">Login</button>
        </form>
    </script>

    <script type="text/html" id="header-template">
        <span class="title">Example</span>
        <% if (authenticated ) { %>
            <nav>
                <a href="#" class="logout button">Logout</a>
            </nav>
        <% } %>
    </script>

</head>

<body>


    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" href="index_2.html">Presentation Links</span>
            </div>
            <!-- /.navbar-header -->


            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a class="active" href="/admin/" target="_blank"><i class="fa fa-dashboard fa-fw"></i> Admin Dashboard</a>
                        </li>
                        <li>
                            <a href="/html/0/" target="_blank"><i class="fa fa-user fa-fw"></i> Volunteer Search</a>
                            
                        </li>
                        <li>
                            <a href="/api/1/1/1/" target="_blank"><i class="fa fa-table fa-fw"></i> API</a>
                        </li>
                        <li>
                            <a href="/explorer/" target="_blank"><i class="fa fa-search fa-fw"></i> SQL Explorer</a>
                        </li>
                        <li>
                            <a href="/charts/bar/?title=My Chart&height=200&width=500&numbers=0,50,123,156,190"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
                            
        
                        </li>
                        <li>
                            <a href="/althtml/1/?id=davidg" target="_blank"><i class="fa fa-question fa-fw"></i> Questionnaire Version</a>
                        </li>
                        <li>
                            <a href="http://localhost:9000/xml_out.xml" target="_blank"><i class="fa fa-question fa-fw"></i> Questionnaire XML</a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/presentation/d/1LHlfxrFPEynVagi-xdv8ZF8TGDYZ795TM6uAxmBXsEg/present#slide=id.g31b48eec7_0_0" target="_blank"><i class="fa fa-play fa-fw"></i> Presentation</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

{% block content %}
   <div id="page-wrapper">
            <!--div class="row">
                <class="col-lg-12">
                    <h1 class="page-header">Presentation Stuff</h1>
                </div>
               
            </div-->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Current Settings
                        </div>
                        <div class="panel-body">
                            




                            <div class="list-group col-lg-8">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> QUESTIONNAIRE  
                                    <span class="pull-right text-muted small"><em>{{ settings.QUESTIONNAIRE }}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> XML_FILE  
                                    <span class="pull-right text-muted small"><em>{{ settings.XML_FILE }}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> CUSTOM 
                                    <span class="pull-right text-muted small"><em>{{ settings.CUSTOM }}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> TESTING 
                                    <span class="pull-right text-muted small"><em>{{ settings.TESTING }}</em>
                                    </span>
                                </a>
                            </div>

                            <div id="content">

                            </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}

   <footer>

        </footer>
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->





    <!-- Custom Theme JavaScript -->

    <!-- jQuery -->
    <!--script src="{% static "fs_renderer/js/jquery.js" %}"></script-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static "fs_renderer/js/bootstrap.min.js" %}"></script>
        <!--script src="{% static "fs_renderer/js/sb-admin-2.js" %}"></scrip-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>






</body>

</html>